<div class="question-container">
  <div class="question-container__title">
    Q:{{question.number}} {{question.content}}
  </div>

  <div class="question-container__answers">
    <ng-container *ngFor="let answer of this.question.answers">
      <button
        class="answer"
        [ngClass]="{'selected': this.answer?.content == selectedAnswer?.content}"
        pRipple
        pButton
        (click)="onSelect(answer)"
        [label]="answer.content"
      ></button>
    </ng-container>

    <!-- <button class="question-container__answer-btn" (click)=""></button> -->
  </div>
</div>
