<ng-container *ngIf="this.questions$ | async as questions">
  <app-timer #timer [timerSeconds]="20" (timeExpired)="moveToNextQuestion()" [shouldStop]="isGameOver"></app-timer>
  <p-carousel #carousel [value]="questions" [numVisible]="1" [numScroll]="1" [circular]="false">
    <ng-template let-question pTemplate="item">
      <app-question [question]="question" (answerSelected)="updateSelection($event)"></app-question>
      <button (click)="submitAnswer(question)">SUBMIT</button>
    </ng-template>
  </p-carousel>
</ng-container>
