::ng-deep {
  .p-carousel-next,
  .p-carousel-prev {
    display: none !important;
  }
  .p-carousel-indicators {
    pointer-events: none;
  }
  .p-carousel .p-carousel-indicators {
    & > .p-carousel-indicator button {
      background: #e3f2fd;
      height: 20px;
      width: 20px;
      border-radius: 50%;
    }

    & > .p-highlight {
      border-radius: 50%;
    }
  }
}
