::ng-deep {
  .p-carousel-next,
  .p-carousel-prev {
    display: none !important;
  }
  .p-carousel-indicators {
    pointer-events: none;
  }
  .p-carousel .p-carousel-indicators {
    & > .p-carousel-indicator button {
      background: #e3f2fd;
      height: 20px;
      width: 20px;
      border-radius: 50%;
    }

    & > .p-highlight {
      border-radius: 50%;
    }
  }
}
.trivia-container {
  display: flex;
  width: 80%;
  margin: 5rem auto;
  .carousel {
    flex: 1;
  }
}
.submit-btn {
  margin: 0 auto;
  display: block;
  background: #4e81a5;
  outline: none;
  border: none;
  overflow: hidden;
}
.submit-btn:hover {
  background: #4e81a5;
}
.submit-btn:focus {
  box-shadow: none;
}
