<div class="container">
  <table [hidden]="!dataSource?.data.length || fetchError" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container [matColumnDef]="boundProperty" *ngFor="let boundProperty of columnsBoundValues; let i = index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnDisplayNames[i]}} </th>
      <td mat-cell *matCellDef="let element"> {{element[boundProperty]}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsBoundValues"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsBoundValues;"></tr>
  </table>
  <div [hidden]="!dataLength">
    <mat-paginator hidden hidePageSize [length]="dataLength" [pageSize]="initialConfig.pageSize" (page)="getPage()">
    </mat-paginator>
  </div>
</div>

<ng-container *ngIf="!dataToDisplay?.length && !fetchError">
  <mat-spinner diameter="48"></mat-spinner>
</ng-container>
