th.mat-header-cell {
  text-align: center;
}
.data-table {
  width: fit-content;
  margin: 20px auto;
}
td {
  text-align: center;
}
.mat-cell {
  min-width: 200px;
}
::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-table {
  margin: 0 auto;
}
mat-spinner {
  position: absolute;
  top: 40%;
  left: 50%;
}
.mat-paginator {
  display: grid;
  place-content: center;
  position: relative;
  top: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
